@page "/courseadd"
@page "/courseadd/{StudentId:int}"
@rendermode InteractiveServer
@using Library.Canvas
@using Canvas.Models
@using Canvas.Services
@using static Library.Canvas.Course
@using static Library.Canvas.Person
@inject Library.Canvas.CourseService CourseService
@inject Library.Canvas.StudentService StudentService
@inject NavigationManager NavigationManager;

<PageTitle>Course Add</PageTitle>

<h1>Courses to Add</h1>


<p>Enter Course to add to student:</p>
<InputText id="newCourseName" @bind-Value="newCourseName" />
<br />

<button type="button" class="btn btn-primary" @onclick="() => AddCourseToStudent()">Add Courses</button>

@code {
    [Parameter]
    public int StudentId {get; set;}
    private string newCourseName { get; set; } = "";

    private void AddCourseToStudent()
    {
        if (!string.IsNullOrEmpty(newCourseName))
        {
            StudentService.EnrollStudentInCourse(StudentId, newCourseName);
            NavigationManager.NavigateTo($"/student"); // Redirect or update UI as needed
        }
    }
}
