@page "/coursedetail"
@rendermode InteractiveServer
@using Library.Canvas
@using static Library.Canvas.Course
@inject Library.Canvas.CourseService CourseService

<PageTitle>Course Details</PageTitle>

<h1>Course Details</h1>

<p>Here you can add, edit, or delete course information.</p>

<h3>CourseDetail</h3>

<EditForm Model="course">
    <div class="form-group">
        <label for="courseName">Course Name:</label>
        <InputText id="courseName" @bind-Value="course.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="courseCode">Course Code:</label>
        <InputText id="courseCode" @bind-Value="course.Code" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <InputTextArea id="description" @bind-Value="course.Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Save Course</button>
</EditForm>

@code {
    private Course course;
}
